---
layout: game-hero-no-intro
css-hero-ref: bgimage-cafeExpressO
folderPath: cafeExpressO
game: Cafe Express-O
postGameName: cafeExpressO
friendlyDescription: Play as a barista who has been hired to manage a cafe all on their own. Your boss is a stickler who will fire you if you make too many mistakes! Customers will venture into your cafe with one desire - which you must fulfill before the reach the end of their line. Make sure you don't waste any food or forget to pick up their payment. Beware, the more the day goes on, the more quickly customers will come in.
platform: Cafe Express-O is available on Xbox One as part of the Creators Collection.
status: Released
features:
 - title: Play as a barista who has been hired to manage a cafe all on their own. Your boss is a stickler who will fire you if you make too many mistakes! Customers will venture into your cafe with one desire - which you must fulfill before the reach the end of their line. Make sure you don't waste any food or forget to pick up their payment. Beware, the more the day goes on, the more quickly customers will come in.
platform: Cafe Express-O is available on Xbox One as part of the Creators Collection.
useLogoOnPage: false
---

<section id="Description">
    {% include game-page-body-description.html %}
</section>

<section id="games" class="success">
        <div class="container">  
            <div class="row">
            <div class="container">
                         <div class="row">  
       {% include game-page-carousel.html %}

                         </div>
                         </div>
</section>
