---
layout: game
folderPath: NothinButNet
game: Nothin' But Net
postGameName: NothinButNet
friendlyDescription: Nothin’ But Net (NBN) is built from the ground up with the goal of bringing realistic sports simulation to your VR play space. In NBN, you can play different variations of basketball on a life-sized gymnasium, challenging your friends in up to five different game modes including H.O.R.S.E., Knockout, Shot Blocker and Rapid Fire. Or, play solo in six different game modes.
status: Development
widgetUrl: http://store.steampowered.com/app/496790/
statusFriendlyDescription: In Early Access for the HTC Vive and Oculus Rift/Touch </br>Coming soon for PlayStationVR
demoHyperlink: http://store.steampowered.com/app/496790
features:
 - title: <b>Realistic Physics:</b> Master realistic dribbling, shooting, and balancing skills. 
 - title: <b>Accurately Scaled Environment:</b> Experience shooting hoops in a realistic and accurately scaled gymnasium. 
 - title: <b>Adjustable Hoops:</b> Adjust the hoop height to regulation, or lower it to make shots from your chair easier. 
 - title: <b>Tailored Game Play:</b> Adjust several settings to tailor game play to your realism preference and Virtual Reality setup, be it standing, sitting or a low ceiling. 
 - title: <b>Six Offline Game Modes:</b> Practice your skills in six offline game modes, several of which have varying levels of difficulty. 
 - title: <b>Five Online Game Modes:</b> Compete with friends and make new ones in five different online game modes. 
 - title: <b>Customization:</b> Show your unique personality by customizing your court and avatar.
 - title: <b>Movement Freedom:</b> Move around the entire gymnasium; playing with up to six different hoops spread throughout the court.  
 - title: <b>Interactive Environment:</b> Place objects in the court and use them to make trick shots.
 - title: <b>Built-in Steam Music Integration:</b> Rock out and control your own music in game with the Steam Music Player integration.          
gameModes:
 - title: H-O-R-S-E
   description: Enjoy the classic game of H.O.R.S.E., but with a word of your choice! Each round, you or a friend will need to invent a new shot. If made, everyone else will need to take the exact same shot. Anyone who misses their shot will get a letter and will become eliminated once the word has been completed. The last player standing wins!  </br></br> H.O.R.S.E. can be played offline against Kevin or online with 2-4 players.
 - title: Knockout
   description: Complete against your friends to see who can make a shot the quickest or risk being eliminated! In Knockout, each player will line up at the free throw line. The first player in line will have one chance to make a basket. If they miss, the second player in line will begin shooting. The goal is to score a basket before the other player does! If the first player in line scores, they are safe and move to the back of the line. However, if the second player in line scores, the first player is eliminated. Each round begins the same, with new players in the first and second positions. The last player standing wins! </br></br> Knockout is only available online and is played with 2-4 players.
 - title: Three-Point Shootout 
   description: Take the ultimate three-point shooting challenge in Three-Point Shootout! You will have one minute to make 25 shots from five positions around the three-point line into a regulation height hoop. The orange balls reward one point and the black/red balls reward two points.</br></br>  Three-Point Shootout is only available offline. 
 - title: Shot Blocker
   description: Put your reflexes to the test in Shot Blocker! Take turns blocking or shooting the ball. Points are gained by successfully scoring a basket. Points can be denied by successfully blocking the shot. The first player to bank three points wins. </br></br> Shot Blocker is only available online and is played with 2 players.
 - title: Rapid Fire
   description: Rapid Fire tests your ability to shoot without having much time to aim your shot. Score as many points possible in the time given. Shoot fast or your ball will disappear! You can either challenge your friends in real time or play by yourself and see how you rank against the global leaderboards. </br></br> Rapid Fire can be played with 1-4 players.
 - title: Mix-Up and Power Shot 
   description: Both Mix-Up and Power Shot will have you rapidly teleporting around the entire gymnasium while you try to make shots as quickly as possible. Power Shot adds a variation to the game by blocking your way with an obstacle, making it so you must shoot through a moving/rotating loop and into the basket. </br></br> Mix-Up and Power Shot are only available offline.   
 - title: Free Throw
   description: Practice makes perfect, especially when playing Nothin’ But Net! Free Throw mode is without rules, letting you define your own or practice dribbling, shooting and balancing either online with friends or by yourself. </br></br> Free Throw can be played with 1-4 players.    
---
<section id="Description">
    {% include game-page-download.html %}
</section>

<section class="success">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="text-align: left;">
                                                                    {% if page.features %}
                                                                    </br>
                    <h3>Key Features</h3>
                    <hr class="code-light">
                    <ul>
                        {% for feature in page.features %}
                        <li>
                         {{ feature.title }} </li> 
                        {% endfor %}
                    {% endif %}
                    </ul>
            </div>
        </div>
    </div>
</section>
<section class="Description">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="text-align: left;">
                    {% if page.gameModes %}
                    </br>
                    <h3>Game Modes</h3>
                    <hr class="gamepad-primary">
                    
                        {% for mode in page.gameModes %}
                        <h4 style="text-align: left; margin-top:10px; padding-top:10px;">{{ mode.title }}</h4>
                        <p>{{ mode.description }}</p>
                        {% endfor %}
                    {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="success">
    {% include game-page-carousel.html %}
    
</section>