---
layout: game
folderPath: NothinButNet
game: Nothin' But Net
friendlyDescription: Become immersed in the wonderful sport of basketball in our upcoming HTC Vive VR game! Nothin' But Net will offer several online modes, including H.O.R.S.E., Rapid Fire, Knockout, and Shot Blocker. Or, if you would rather enjoy casually shooting hoops, you can do so solo or with friends in the Free Throw mode. Nothin' But Net has realistic basketball handling mechanics such as dribbling, spinning / balancing, and shooting from various angles and strength. Utilize the entire court as you strive for that perfect shot!
status: Development
---

    <section id="Description">
       {% include game-page-carousel.html %}
    </section>
    <section class="success">  
        {% include game-page-download.html %}
    </section>
        <section class="Description">
    <div class="container">
        <div class="row">
                    <div class="col-lg-8 text-center col-lg-offset-2">
                <h3><strong>Core Features</strong></h3> 
                <p>
                    <br>* Realistic basketball handling mechanics such as dribbling, spinning / balancing, and shooting from various angles and strength.
                    <br>* Enjoy shooting hoops on your own in solo Free Throw or Rapid Fire.
                    <br>* Challenge your friends in a game of H.O.R.S.E with a word of your choice, compete for the highest score in Rapid Fire or see who can score a basket the quickest in Knockout. 
                    <br>* Jump into a casual game of shooting hoops with your friends in online Free Throw. 
                    <br>* Prove your skills by setting a record on how long you can spin and balance the ball on your controller. (Sounds a lot easier than it is!)                                                                          
                </p>
                </div>
                
        </div>
    </div>
</section>