---
layout: game
folderPath: NothinButNet
game: Nothin' But Net
postGameName: NothinButNet
friendlyDescription: Nothin’ But Net (NBN) is built from the ground up with the goal of bringing realistic sports simulation to your VR play space. In NBN, you can play different variations of basketball on a life-sized gymnasium, challenging your friends in up to five different game modes including H.O.R.S.E., Knockout, Shot Blocker and Rapid Fire. Or, play solo in Free Throw or Rapid Fire game modes.
status: Development
statusFriendlyDescription: Play the Demo on Steam Today!
demoHyperlink: http://store.steampowered.com/app/496790
video:
  - title: Online Raw Footage
    url: https://www.youtube.com/embed/SsAgmjGHTsA
    date: 9.8.16
  - title: Breakable Environment
    url: https://www.youtube.com/embed/Ko-hJaWfjMs
    date: 7.30.16
  - title: Early Menu
    url: https://www.youtube.com/embed/qVKnvHKZrnc
    date: 8.2.16
features:
 - title: Experience shooting hoops in a realistic and accurately scaled gymnasium. 
 - title: Tailor the game play experience for your Virtual Reality setup, be it standing, sitting or room-scale.
 - title: Compete with friends or make new ones in five online game modes.
 - title: Practice on your own in two offline game modes.
 - title: Show your unique personality by customizing your court and avatar.
 - title: Rock out and control your own music in game with the Steam Music Player.
 - title: Master realistic dribbling, shooting and balancing skills. 
 - title: Move around the entire gymnasium, playing with up to six different hoops.
gameModes:
 - title: H.O.R.S.E.
   description: Enjoy the classic game of H.O.R.S.E., but with a word of your choice! Each round, you or a friend will need to invent a new shot. If made, everyone else will need to take the exact same shot. Anyone who misses their shot will get a letter and will become eliminated once the word has been completed. The last player standing wins! H.O.R.S.E. is only available online and is played with 2-4 players.
 - title: Knockout
   description: Complete against your friends to see who can make a shot the quickest or risk being eliminated! In Knockout, each player will line up at the free throw line. The first player in line will have one chance to make a basket. If they miss, the second player in line will begin shooting. The goal is to score a basket before the other player does! If the first player in line scores, they are safe and move to the back of the line. However, if the second player in line scores, the first player is eliminated. Each round begins the same, with new players in the first and second positions. The last player standing wins! Knockout is only available online and is played with 2-4 players.
 - title: Shot Blocker
   description: Put your reflexes to the test in Shot Blocker! Take turns blocking or shooting the ball. Points are gained by successfully scoring a basket. Points can be denied by successfully blocking the shot. The first player to bank three points wins. Shot Blocker is only available online and is played with 2 players.
 - title: Rapid Fire
   description: Compete to score the highest amount of points within the time limit. Utilize the entire court to make two or three point shots. In Rapid Fire, you can challenge up to three of your friends to see who is better in real time. Or, if you prefer to play solo you can compete to see how you rank on the leaderboard. Rapid Fire can be played with 1-4 players.
 - title: Free Throw
   description: Practice makes perfect, especially when playing Nothin’ But Net! Free Throw mode is without rules, letting you practice dribbling, shooting and balancing either online with friends or by yourself. Free Throw can be played with 1-4 players.    
---
<section id="Description">
    {% include game-page-download.html %}
</section>
<section class="success">
    {% include game-page-carousel.html %}
    
</section>
<section class="Description">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="text-align: left;">

                    {% if page.gameModes %}
                    </br>
                    <h3>Game Modes</h3>
                    <hr class="gamepad-primary">
                    
                    <ul>
                        {% for mode in page.gameModes %}
                        <h4 style="text-align: left; margin-top:10px; padding-top:10px;">{{ mode.title }}</h4>
                        <p>{{ mode.description }}</p>
                        {% endfor %}
                    </ul>
                    {% endif %}
            </div>
        </div>
    </div>
</section>