---
layout: game
folderPath: operationBrasnodar
game: Operation Brasnodar
friendlyDescription: “Operation Brasnodar” is the first city under development for a multiplayer tactical espionage game. Game play will focus around small team PvP and possible co-op play. Players will take on the role of an operative in the Quail, or become a member of the Agency. The Quail focuses on completing missions in order to take down the Agency and free those who have been mind controlled. The Agency is out to catch all members of the Quail and silence the uprising.
platform: Operation brasnodar has been put on hold while we focus the majority of our time on Battle Tub. We are planning on picking development back up once Battle Tub has been released.
status: Development
---

<section id="Description">
    {% include game-page-carousel.html %}
</section>
<section class="success">
    {% include game-page-download.html %}
</section>
<section class="Description">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-center">
                
                <h3><strong>The Agency</strong></h3><br>
                <p>The Agency has recently risen in power and has begun a new experimental program. Not much is known about
                    this program currently, however it is very clear that entire towns are being mind controlled in order
                    to progress it.</p>
            </div>
            <div class="col-lg-6 text-center">
                
                <h3><strong>The Quail</strong></h3><br>
                <p>The Quail is a secret organization fighting back against the Agency in order to free those who have been
                    mind controlled and ultimately stop their devious plans.</p>
            </div>
                    <div class="col-lg-8 text-center col-lg-offset-2"><br><br><br>
                <h3><strong>Core Features</strong></h3>
                    
                <p>
                <br>Dynamically generated cities which support random road names, buildings and props.
                    <br>Environments change weather (sun, rain and snow) and time of day.
                    <br>Lively city that has fully functional AI that drive and walk around the city.
                    <br>Persona based driving gives the feeling of following conservative or reckless drivers. The cars will
                        drive randomly around the city with varying breaking/acceleration based on their persona.
                    <br>The AI will obey the rules of the road (for the most part, people do get run over occasionally.. but
                        that is a feature not a bug. ;))
                    <br>The Quail must complete three of the five missions which are randomly selected and placed around the city.
                    <br>The agency must keep their control room fully functional by repairing monitors before they break.
                    </p>
                </div>
                
        </div>
    </div>
</section>
