---
layout: game
folderPath: battleTub
game: Battle Tub
friendlyDescription: You know all those times you got into a debate with your buddy on who would win in a team vs. team battle of the toy boats but were never able to prove it was you? Well, we're happy to say we've got you covered! In Battle Tub, you can show off your awesome boat driving and rubber ducky dodging skills while kicking your friends butt!
platform: Battle Tub is currently under active development and is not yet alpha ready. We are planning on submitting Battle Tub for Steam greenlight consideration in the coming months. <br><br>We actively stream the game development for our games on our Twitch! Make sure to follow the channel to watch how the game progresses and interact with the developers! Follow us on Twitter for updates on the game and when we go live on the stream.
status: Development
---

    <section id="Description">
       {% include game-page-carousel.html %}
    </section>
    <section class="success">  
        {% include game-page-download.html %}
    </section>