<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
    {% include nav.html %}

    <section class="success" style="margin-top:90px; padding: 50px 0 50px 0;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>{{ page.title }}</h1>
                    <h4 style="text-transform:none;"> {{page.author}}, {{ page.date | date: '%B %d, %Y'}}</h4>
                    <button style="display:inline-block;border-radius:3px;padding: 0.3em 0.8em;margin:.25em;border-style: none;background-color: #419641;/* border-color:#3e8f3e; */background-image:linear-gradient(to bottom,#5cb85c 0,#419641 100%);font-size: 20px;box-shadow: 2px 8px 15px 1px rgba(0, 0, 0, 0.10), inset 0 1px 1px rgba(255, 255, 255, 0.8);"><a style="color: #ffffff !important; text-decoration:none;" target="_blank" href="{{ page.widgetUrl }}">Play Now</a> </button>
                        
                        </div>
                </div>
            </div>
        </div>
    </section>
        <div class="container" style="margin-top:30px; margin-bottom:30px;">
            <div class="row">
                <div class="col-lg-12 postContent">
                    {{ page.content }} 
                </div>
            </div>
        </div>
</body>

</html>