---
layout: game
folderPath: basketballVR
game: Basketball VR
friendlyDescription: Become immersed in the wonderful sport of basketball in our upcoming HTC Vive VR game! Half Court Hero will offer two single player modes and three real-time multiplayer modes, including "Horse" and timed competition. Or, if you would rather enjoy casually shooting hopes you can do so in the single player practice or casual multiplayer modes. Half Court Hero has realistic basketball handling mechanics such as dribbling, spinning / balancing, and shooting from various angles and strength. 
platform: Basketball VR is currently under active development and is almost ready for alpha release. We are planning on submitting Basketball VR (working title) for Steam greenlight consideration in the coming weeks. <br><br>We actively stream the game development for our games on our Twitch! Make sure to follow the channel to watch how the game progresses and interact with the developers! Follow us on Twitter for updates on the game and when we go live on the stream.
status: Development
---

    <section id="Description">
       {% include game-page-carousel.html %}
    </section>
    <section class="success">  
        {% include game-page-download.html %}
    </section>
        <section class="Description">
    <div class="container">
        <div class="row">
                    <div class="col-lg-8 text-center col-lg-offset-2">
                <h3><strong>Core Features</strong></h3> 
                <p>
                    <br>* Realistic basketball handling mechanics such as dribbling, spinning / balancing the ball and shooting from various angles and strength. 
                    <br>* Enjoy shooting hoops on your own in the single player practice mode.
                    <br>* Challenge your friends in a game of "horse" with a word of your choice.
                    <br>* Prove your skills in a timed competition mode in both single player and multiplayer.
                    <br>* Jump into a casual game of shooting hoops with your friends in multiplayer casual mode.
                    <br>* Set the record score on how long you can spin and balance the ball your controller.                                                                          
                </p>
                </div>
                
        </div>
    </div>
</section>